<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">Back</a>
</p>
<div id="detail">
    <div class="productDetail">
        <label>ID:</label>
        <label th:text="${products.id}"></label>
    </div>
    <div class="productDetail">
        <label>Name:</label>
        <label th:text="${products.name}"></label>
    </div>
    <div class="productDetail">
        <label>Price:</label>
        <label th:text="${products.price}"></label>
    </div>
    <div class="productDetail">
        <label>Description:</label>
        <label th:text="${products.description}"></label>
    </div>
    <div class="productDetail">
        <label>Producer:</label>
        <label th:text="${products.producer}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>